# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
*.egg-info/
.venv

# Terraform
terraform/terraform.tfvars
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
**/.terraform/
crash.log


# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Node / Frontend
node_modules/
.next/

# Secrets
*.pem
*.key
secrets/
